*,
*:before,
*:after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.wrapper{
    margin: 0 auto;
    max-width: 1200px;
}
 

header img{
    padding: 1rem;
    height: 100px;  
}

/* using flex, because nav is a father that has a lot of children, and using x,y axis is easier to set up*/
.banner {
    display: flex;
    justify-content: center;
    gap:15px;
}

.box{
    display: flex;
    flex-direction:inherit;
    gap: 15px;
}

header nav ul{
    display: flex;
    gap: 15px;
}

header nav ul li a{
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    color:rgb(85, 85, 85);
}

header nav ul li:hover{
    background-color: hsl(335, 86%, 86%);
    padding: 5px;
}

.box a{
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    color:rgb(102, 102, 102);
}

.box a:hover, nav ul li a:active{
    color: hsl(335, 86%, 86%);
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.block-1{
    width: 310px;
    height: 75px;
    border: 2rem;
    background-color:rgb(255, 205, 55);
    border-radius: 60px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    left: 527px;
    top: 220px; 
    font-size: 42px;
    font-weight: bolder;
    gap: 15px;
    color: white;
}

.block-1 a{
    text-decoration: none;
    color: white;
}

.block-2{
    width: 150px;
    height: 55px;
    border: 2rem;
    background-color:rgb(137, 227, 255);
    border-radius: 60px; 
    box-shadow: 4px 5px rgba(189, 232, 243, 0.614);
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    left: 1130px; 
    top: 30px;
    font-size: 21px;
}

.block-2 a{
    text-decoration: none;
    color:rgb(85, 85, 85);
}


.pictures img:nth-child(1){
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.pictures img:nth-child(2){
    width: 200px;
    height: 200px;
    border: 2px solid black;

}

.pictures img:nth-child(3){
    width: 200px;
    height: 200px;
    border: 2px solid black; 
  
    
}
   
.serve{
    margin-top: 20px;
    padding: 13px;
    width: 1280px;
    background-color:  hsl(335, 86%, 86%);
}

.serve h2{
    font-size: 32px;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 10px;
}

.block-2-1{
    margin-top: 10px;
    width: 150px;
    height: 55px;
    border: 2px solid black;
    background-color:rgb(255, 205, 55);
    border-radius: 60px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 21px;
}

.block-2-1 a{
    text-decoration: none;
    font-weight: bold;
    color:rgb(255, 255, 255);
}

/* there is a small gap between every elements---- using grid is easy to set */
.news{
    display:grid;
    gap: 25px;
    grid-template-areas: 
    "g1 g1 g2 g2 g3 g3" 
    "g4 g4 g5 g5 g6 g6" 
    "g7 g7 g8 g8 g9 g9";
}

.news-1 img{grid-area: g1;}
.news-2 img{grid-area: g2;}
.news-3 img{grid-area: g3;}

.news-1 p{grid-area: g3;}
.news-2 p{grid-area: g4;}
.news-3 p{grid-area: g5;}

.news-1 nav{grid-area: g6;}
.news-2 nav{grid-area: g7;}
.news-3 nav{grid-area: g8;}

.block-3{
    margin-top: 10px;
    width: 90px;
    height: 35px;
    border: 2px solid black;
    background-color:rgb(255, 205, 55);
    border-radius: 60px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 16px;
    transition: all 1s;
}

.block-3:hover{
    background-color: white;
}

.block-3 a{
    text-decoration: none;
}

.news h2{
    font-size: 32px;
    font-weight: bold;
}

.news{
    width: 1280px;
    margin-top: 5px;
    background-color: pink;
}



footer{
    padding: 1rem; 
}

.socialmedia ul{
    display: flex;
    gap: 10px;
}





 

